@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Raleway:wght@100&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&family=Red+Hat+Display:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Roboto');
 :root{
     --cor-primaria:#000000;
     --cor-secundaria:#ffffff;
     --cor-tercearia:#7ED957;
     --cor-cabecalho-fundo:#101513;
     --fonte-principal:'Oswald', sans-serif;
     --fonte-secundaria:'Raleway', sans-serif;
     --font-redes:'Krona One', sans-serif;
     --font-rodape:'Montserrat', sans-serif ;
     --font-texto-peso:500;
}
/**:root{
     --cor-primaria:#ffffff;
     --cor-secundaria:#000000;
     --cor-tercearia:#439221;
     --cor-cabecalho-fundo:#272727;
     --cor-cabecalho-texto:#ffffff;
     --fonte-principal:'Oswald', sans-serif;
     --fonte-secundaria:'Raleway', sans-serif;
     --font-redes:'Krona One', sans-serif;
     --font-rodape:'Montserrat', sans-serif ;
     --font-texto-peso:bold;
}
 **/
 *{
     margin: 0%;
     padding: 0%;
}
 body {
     box-sizing: border-box;
     background-color:var(--cor-primaria);
     color: var(--cor-secundaria);
     position: relative;
}
 body::-webkit-scrollbar {
     width: 12px;
}
 body::-webkit-scrollbar-track {
     background: var(--cor-secundaria) 
}
 body::-webkit-scrollbar-thumb {
     background-color:var(--cor-cabecalho-fundo);
}


/* Cabeçalho */
 .cabecalho{
     background-color:var(--cor-cabecalho-fundo) ;
     display: flex;
     color: var(--cor-cabecalho-texto);
     align-items: center;
     justify-content: space-between;
     position: fixed;
     width: 100%;
     top: 0;
     padding: 0.5%;
     right: 0;
     left: 0;
     height: 2.25rem;
}
 .cabecalho__nome{
     font-size:1.25rem ;
     font-family: var(--fonte-principal);
     font-weight: bold;
     font-family: var(--fonte-secundaria);
     margin-left: 2%;
     border-right: 1px solid;
     width: 18ch;
     white-space:nowrap;
     overflow: hidden;
     animation: digitando 2s steps(19),piscando 0.5s infinite step-end alternate;
     position: absolute;
}

.cabecalho__nome__destaque{
    color:var(--cor-tercearia);
    font-weight:var(--font-texto-peso)
}

 @keyframes digitando{
     from{
         width: 0;
    }
}
 @keyframes piscando{
     50%{
         border-color: transparent;
    }
}
 .cabecalho__nav{
     margin: 0 auto;
}

.cabecalho__checkbox, .cabecalho__checkbox__label__menu{
    display: none;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
 .cabecalho__menu__link{
     text-decoration: none;
     font-size:1.25rem ;
     font-family: var(--fonte-principal);
     font-weight: 400;
     color: var(--cor-cabecalho-texto);
}
.cabecalho__menu__link:hover{
    color: var(--cor-tercearia);
}
 
 .cabecalho__menu__link__contato{
     text-decoration: none;
     font-size:1.12rem ;
     font-family: var(--font-rodape);
     font-weight: 400;
     color: var(--cor-cabecalho-texto);
     padding: 2px 25px;
     border: 2px solid var(--cor-tercearia);
     border-radius: 8px;
     right: 0%;
     margin-right: 2%;
     position: absolute;
}


/* Página Home */
 .apresentacao{
     padding: 8% 15%;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 70px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 38px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.50rem;
    font-family:var(--fonte-principal);
    text-align: left;
}
.apresentacao__conteudo__destaque__titulo {
    color:var(--cor-tercearia);
    font-weight:var(--font-texto-peso) 
}

.apresetacao__conteudo__paragrafo{
    font-size: 1.15rem ;
    font-family: var(--fonte-secundaria);
    line-height: 2rem;
    text-align:justify;
}
 .apresentacao__conteudo__destaque__texto {
     color: var(--cor-tercearia) ;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
 
.apresentacao__links__subtitulo{
    font-family: var(--font-redes);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__rede{
    border: 1px solid var(--cor-tercearia);
    width:90% ;
    text-align: center;
    border-radius: 8px;
    font-size: 1.25rem;
    padding: 4px 6px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
    display: flex;
    justify-content: center;
    gap: 20px;
}
.apresentacao__links__rede:hover{
    background-color:var(--cor-tercearia) ;
    color: var(--cor-secundaria);
}
.apresentacao__imagem{
    border: 4px solid var(--cor-tercearia);
    border-radius: 50%;
    width: 40%;
}

/* Página Sobre-mim */

.apresentacao__sobre{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.apresentacao__sobre__conteudo{
    display: flex;
    font-family: var(--fonte-secundaria);
    gap: 70px;
    padding-bottom: 4%;
    justify-content: center;
    padding: 8% 15%;
}

.apresentacao__sobre__conhecimento{
   display: flex;
   font-family: var(--fonte-secundaria);
   gap: 80px;
   justify-content: center;
   background-color:var(--cor-cabecalho-fundo); 
   width: 100%;
   padding: 3% 0;
}

.apresentacao__sobre__conhecimento__conteudo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 1%;
}

.apresentacao__sobre__conhecimento__conteudo__titulo{
    font-size:1.60rem;
}
.apresentacao__sobre__conhecimento__conteudo__subtitulo{
    font-size:1.10rem ;
    font-style: italic;
    color:var(--cor-tercearia);
    font-weight:700 
}

.apresentacao__sobre__conhecimento__conteudo__funcao{
    padding: 10px;
    line-height: 1.5rem;
}

.apresentacao__sobre__conhecimento__conteudo__funcao__atividades{
     display: flex;
     flex-direction: column;
     gap: 18px;
     padding-left: 20px;
     font-weight:var(--font-texto-peso);
     font-size: 0.90rem;
}

.apresentacao__sobre__conhecimento__conteudo__informacao{
    padding-top:5px ;
    padding-bottom: 15px;
    font-weight:700;
    font-size: 1rem;
}

.apresentacao__sobre__conhecimento__lista{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 23px;
    font-weight:var(--font-texto-peso); 
    line-height: 1.5rem;
    padding: 10px;
}

.apresentacao__sobre__conhecimento__lista__elemento{
    display: flex;
    gap: 15px;
    padding: 10px;
    font-weight:700;
}
/* Página Contato */


.apresentacao__contato{
    padding: 8% 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.apresentacao__contato__conteudo{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.apresentacao__contato__conteudo__titulo{
    font-size: 3.43rem;
    font-family:var(--fonte-principal);
    text-align: left;
}

.apresentacao__contato__conteudo__subtitulo{
    margin-top: 4%;
    font-family:var(--fonte-secundaria);
    font-size: 1.12rem;
    padding-left: 2%;
}

 .apresentacao__contato__conteudo__div{
     display: flex;
     justify-content: center;
     flex-direction: column;
}


 .apresentacao__contato__conteudo__div__email{
     margin-top: 10%;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
     background-color:#070707;
     width: 80%;
     padding: 3% 2%;
     border-radius: 8px;
     font-size: 13px;
}

 .apresentacao__contato__conteudo__forms{
     background-color:#0f0e0e;
     display: flex;
     flex-direction: column;
     gap: 25px;
     padding: 3% 5%;
     border-radius: 12px;
     font-family:var(--fonte-secundaria);
}
 .apresentacao__contato__conteudo__forms__titulo{
     margin: 4% 0%;
}


.apresentacao__contato__conteudo__forms__input{
    border-radius: 8px;
    padding: 2% 6%;
    font-size: 1rem;
    margin: 0% 2%;
    background-color: #4a4a4a;
    color:var(--cor-secundaria);
    border: 0px;
}

.apresentacao__contato__conteudo__forms__input:focus{
    border: var(--cor-tercearia);
    outline: 2px solid var(--cor-tercearia) ;
}

 .apresentacao__contato__conteudo__forms__msg{
     display: flex;
     flex-direction: column;
     justify-content: left;
     gap:15px;
}

 .apresentacao__contato__conteudo__forms__botao{
     padding: 4% 6%;
     width: 200px;
     margin-left: 2%;
     border-radius: 10px;
     background-color: var(--cor-tercearia);
     color:var(--cor-primaria);
     font-family: var(--font-redes);
     font-weight: bold;
     font-size: 0.70rem;
}

.apresentacao__contato__conteudo__forms__botao:hover{
    background-color: var(--cor-secundaria);
    border: 2px solid var(--cor-tercearia);
}

 .rodape{
     width: 100%;
     background-color:var(--cor-tercearia);
     font-family:'Montserrat', sans-serif ;
     font-weight: 200;
     font-size: 1.12rem;
     font-weight: 800;
     color: var(--cor-primaria);
     text-align: center;
     padding: 1% 0%;
}
 @media (max-width:1200px){
     html{
         height: 100%;
    }
     body{
         height: 100%;
    }
     .apresentacao{
         flex-direction: column-reverse;
         padding:15% 8%;
    }
     .apresentacao__conteudo__titulo{
         font-size: 1.7rem;
         text-align: center;
    }
     .apresentacao__conteudo{
         width: auto;
    }
     .apresentacao_curriculo{
         padding: auto;
    }
     .educacao__habilidades{
         flex-direction: column;
         gap: 15px;
    }
     .apresentacao__contato{
         flex-direction: column;
         padding:15% 8%;
    }
     .apresentacao__conteudo__contato{
         align-items: center;
    }
     .apresentacao__conteudo__contato__titulo{
         font-size:2.80rem ;
    }
     .apresentacao__conteudo__forms{
         width: 90%;
    }
}
 @media( min-height:1100px) and (max-height:1400px) and (min-width:750px) and (max-width:950px){
     html{
         height: 100%;
    }
     body{
         height: 100%;
    }
     .apresentacao{
         flex-direction: column-reverse;
         padding:15% 8%;
         height: 100%;
    }
}
 @media (max-width:900px){
     .cabecalho__menu{
         display: flex;
         position: absolute;
         top: 2.25rem;
         left: 0;
         flex-direction: column;
         gap: 0.40rem;
         background-color: var(--cor-cabecalho-fundo);
         text-align: center;
         width: 100%;
         height: 0;
         z-index: 1;
         visibility: hidden;
         overflow-y: hidden;
         transition: 0.5s;
    }
     .cabecalho__menu__link{
         padding: 1rem 0;
         margin-inline: 1rem;
         border-bottom: 0.0625rem solid rgba(0,0,0,0.16);
         border-radius: 0;
    }
     .cabecalho__nome{
         font-size: 0.90rem;
    }
     .cabecalho__menu__link__contato{
         margin-right: 15%;
         font-size: 0.90rem;
    }
     .cabecalho__nav{
         margin: 0 auto 0 90%;
    }
     .cabecalho__checkbox__label__menu{
         display: flex;
         align-items: center;
         gap: 0.5rem;
         padding-block: 1rem;
         cursor: pointer;
    }
     .cabecalho__checkbox__label__menu img{
         width: 2rem;
    }
     .cabecalho__checkbox:checked ~ .cabecalho__menu{
         height: calc(100vh - 2.25rem);
         visibility: visible;
         overflow-y: auto;
    }
     .experiencia__imagem{
         margin-top: 10%;
    }
     .apresentacao__conteudo__font__destaque{
         font-size: 1rem;
    }
}
 